html {
  color: rgb(51, 51, 51);
  font-family: 'Exo 2', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
  line-height: 1.6;
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
